*{
	margin:0;
	padding:0;
	font-family: Meiryo, sans-serif, monospace;
	font-size: 16px;
	text-decoration:none;
list-style:none;
moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
html , body {
min-height: 100%;
height: auto;
height: 100%;
}
.full{
	width: 100%;
	height: 100%;
}
.clear{clear:both;}
div{
	display: block;
}
image{border:0px;}
a {outline: none;}
em{visibility: hidden;}
.fade img{
	width: 100%;
	opacity: 0;
  animation-name:fade-in;
  animation-delay:6s;
  animation-duration:12s;
  animation-timing-function: ease-out;
  animation-iteration-count:1;
  animation-direction:normal;
  animation-fill-mode: forwards;
}
.background{
	position: absolute;
	margin: auto;
width: 100%;
text-align: center;
transform-origin: center;
}
.background img{
	transform: scale(1.05);
	-webkit-animation:bog 3s;
}
#loader {
	width: 20%;
	display: none;
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 40%;
	margin-top: -100px;
	z-index: 999;
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
.closer {
	opacity: 0;
	width: 20%;
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 29.5%;
	margin-top: -100px;
	z-index: 999;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes bog {
	0%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1.05);
	}
}
@-webkit-keyframes bogy {
	0%{
		margin-top: 1%;
		opacity: 0;
	}
	100%{
		margin-top: 3%;
		opacity: 1;
	}
}
#fade {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	width:100%;
	height:100%;
	display:none;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 998;
}
.top_logo {
	margin-top: 3%;
	width: 22%;
	position:fixed;
	right:41.3%;
	z-index:20;
	min-width:300px;
	animation: bogy 3s;
}
.top_logo img{
	margin: auto;
}
.menu{
	position: fixed;
	width: 100%;
	z-index: 1000;
	opacity: 0;
	top: 25%;
}
.menu_border{
	width: 6px;
	height: 30px;
	float: left;
padding-left: 20px;
padding-right: 6px;
}
.menu_border img{
	width: 600%;
}
.menu_section{
	z-index: 100;
	width: 100px;
	float:left;
	color: black;
}
.protext{
	text-shadow: 0 0 10px #ffffff;
	color: #ff66ff;
}
.protext:hover{
	text-shadow: 0 0 10px #FCFCCF;
	color: #20CECE;
}
#font{
	color: white;
}
.snow-container {
	position: fixed;
	top: 0; left: 0;
	 width: 100%;
	  height: 100%;
		 pointer-events: none;
		 z-index: 19;
		 center top no-repeat;
}
.musicPanel {
	width: 50%;
	height: 50%;
	margin-left: 25%;
	margin-top: 20%;
	position: absolute;
	border-radius: 45px;
	overflow: hidden;
	z-index: 998;
	padding: 50px;
	box-sizing: border-box;
	opacity: 0;
	background-color:#FCE0FC;
}
.music_section{
	margin-bottom: 5.56%;
	width: 95%;
	height: 30%;
	margin-left: 2.5%;
	margin-top: -2%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	z-index: 999;
	box-sizing: border-box;
	opacity: 1;
	background-color:#FF99FF;
}
.music_section:hover{
	background-color:#C717C7;
}
.fp{
	margin-top: 3%;
		text-align: center;
		color: white;
}
