*{
	margin:0;
	padding:0;
	font-family: Meiryo, sans-serif, monospace;
	font-size: 16px;
	text-decoration:none;
list-style:none;
moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
html , body {
min-height: 100%;
height: auto;
height: 100%;
}
.full{
	width: 100%;
	height: 100%;
}
.clear{clear:both;}
div{
	display: block;
}
image{border:0px;}
a {outline: none;}
em{visibility: hidden;}
.fade img{
	width: 100%;
	opacity: 0;
  animation-name:fade-in;
  animation-delay:6s;
  animation-duration:12s;
  animation-timing-function: ease-out;
  animation-iteration-count:1;
  animation-direction:normal;
  animation-fill-mode: forwards;
}

.background{
	position: fixed;
width: 100%;
text-align: center;
transform-origin: center;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-ms-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}
.background img{

height: 120%;
}
#loader {
	width: 20%;
	display: none;
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 40%;
	margin-top: -100px;
	z-index: 999;
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

#fade {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	width:100%;
	height:100%;
	display:none;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 998;
}
.top_bg{
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-moz-background-size:cover;

	-o-background-size:cover;
	-ms-background-size:cover;
	width:100%;
	height:100%;
/*	background-image: url(../img/4.png);
	z-index:1000;
 		-webkit-transition: all 1s;
	  -moz-transition: all 1s;
	  -ms-transition: all 1s;
	  -o-transition: all 1s;
	  transition: all 1s;
	  opacity: 1;
*/
}
.top_logo {

	width: 30%;
	position:fixed;
	top:0.5%;
	right:32%;
	z-index:20;
	min-width:300px;
	opacity:0;
}
.top_logo img{
	margin: auto;
}
.menu{

	position: fixed;
	width: 100%;
	z-index: 1000;
	opacity: 0;
	top: 30%
}
.menu_box{
	margin: auto;
	width: 1400px;
	height: 25px;
}
.menu_border{
	width: 6px;
	height: 30px;
	float: left;
padding-left: 20px;
padding-right: 6px;
}
.menu_section{
	z-index: 100;
	width: 100px;
	float:left;
	margin-left:60px;
	margin-top: 10px;
	color: black;
}
.protext{
	font-size: 35px;
	text-shadow: 0 0 10px #ffffff;
	color: #ff66ff
}
#font{
	color: white;
}
